page-login{
    .logo{
    font:25vh;
    margin-top: 50px;
    margin-bottom: 30px;
}
.item{
  text-align: center;
}
h1,h6{
    color: red;
    font-size: 1em;
    text-align:  center;
}
.con{    
   background-color: red;
    border-bottom: none;
}
.item{
    background-color:red;
}
.rr{
    background-color: white;
    padding-left: 10px;
    border-radius: 30px;
   margin-top: 10px;
 }
 .ri{
    margin-top: 2020px;
    margin-right: 10px;
}
.bs{
    border-radius: 10px;
    padding: 3px; 
    margin:auto;
    display: block;
}
}
