<ion-header color="primary">
  <ion-toolbar>
    <ion-title>
       Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
 <!-- <ion-img [src]="../"></ion-img> -->
  <div class="page-centered-element">
    <div class="content">
      <h2>Connecting people</h2>
      <div class="buttons-container">
   <ion-button color="primary" (click)="signIn()" block>Sign In</ion-button>
    <ion-button  color="secondary" (click)="register()" block>Register</ion-button>
  </div>
  </div>
  </div>



 
</ion-content>
